

/*Estilização do BODY*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Calibri', 'Arial';
    background-color: #fadec3;
    overflow-x: hidden;
}

/*Estilização do HEADER*/
header {
    width: 100%;
    background-color: rgb(241, 170, 243);
    padding: 0px 0 0px 32px;
    background: #9a5833;
}    
.logo {
        width: 15%;
        border-radius: 100%;
}

/*Estilização do MENU do site*/
nav {
    color: whitesmoke;
    font-size: 25;
    right: 70;
    top: 95px;
    position: absolute;
}

nav li {
    display: inline;
    margin-right: 35px;
}

/*Estilização da DIV do header*/
.divHeader {
    position: relative;
}

.banner {
    height: 40%;
    width: 100vw;
}

/*Estilização da sessão SOBRE NÓS*/
.sobre_nos {
    margin: 0;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
}

.img_sobrenos {
    width: 28%;
    float: left;
    margin-right: 20px;
}

.titulo_sobrenos {
    text-align: center;
    clear: left;
}

/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapaGeral p {
    text-align: center;
}

.mapa {
    margin-left: 27%;
}

.nossosprodutos{
    padding: 2%;
}

.div_nossosprodutos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img_nossosprodutos{
    width: 16%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}

.img_nossosprodutos:hover{
    opacity: 0.5;
}

.lista_nossosprodutos{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.lista_nossosprodutos li{
    line-height: 2;
}

.lista_nossosprodutos li:before{
    content: "★ ";
}

/*Video*/
.div_video {
    border-radius: 12px;
    width: 30%;
    margin-left: 35%;
    padding: 5% 0 0 0;
}

/*Rodapé*/
.logo_footer {
    width: 11%;
    margin-left: 45%;
}

footer{
    background: url("../img/banner.png");
    background-size: cover; 
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    padding: 30px 10px 10px 0;
    width: 100%;
}
footer p{
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    text-align: right;
    width: 99%;
    font-size: 19px;
}

/* Estilização dos icones do WhatsApp e Instagram */
i{
    color: white;
}

/* Estilização do scroll */
html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #ffffff;
}

html ::-webkit-scrollbar-track {
    background: #fadec3;
}